.inputField {
    height: 30px;
    width: 100%;
    padding: 4px 0;
    border-radius: 5px;
    margin: 4px 0px;
}

.button {
    height: 30px;
    width: 100%;
    padding : 4px 16px;
    border-radius: 5px;
    margin: 8px auto;

}
.drop-down{
    height: 30px;
    width: 100%;
    padding : 4px 16px;
    border-radius: 5px;
    margin: 4px auto;
}

.form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    height: 50%;
    width: 25%;
}